@import url(https://fonts.googleapis.com/css?family=Work+Sans:100);

@media screen and (min-width: 960px){

#About {
  position: relative;
  height: 80vh;
}
#About .persona:first-child{
	position: absolute;
  	margin-left: 5%;
		}
#About .persona:nth-child(2) {
	position: absolute;
  	margin-left: 30%;
	}
#About .persona:nth-child(3) {
	position: absolute;
  	margin-left: 55%;
	}

#About .persona:last-child{
	     position: absolute;
 		 margin-left: 80%;
		}

#About .persona h1 {
  position: absolute;
  color: black;
  margin-top: 4%;
  margin-left: 12.5%;
  font-size: 1em; 
  font-weight: 100;
  font-family: 'Work Sans', sans-serif;
}

#About .persona p {
  display: block;
  color: white;
  margin-left: 4%;
  margin-top: 7%;
  width: 40%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 0.8em;
  text-align: center;
}

#About .persona.hover p{
  position: absolute;
  display: block;
  color: black;  
  width: 40%;
  margin-top: 2%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 0.8em;
  text-align: center;
  transition: 0.9s;
}




#About .persona {
  display: block;
  width: 33%;  
  margin-top: 90px;
  float: left;
}

#About .persona img {
  width: 50%;
  border-radius: 50%;
}

#About .persona.hover{
  margin-top: 0;  
  transition: all 0.9s;
}
#About .persona.hidden1{ 
  position: absolute;
  margin-top: 90px;
  transition: all 0.5s; 
}

#About .persona hr{
  position: relative;
  width: 0;
  border: 0px solid black;
  margin: 12% 0 0 0;
}

#About .persona.hover hr{
  display: block;
  width: 10%;
  height: 1px;
  background-color: black;
  position: relative;
  margin: 12% 0 0 20%;
  transition: all 1s;
}

}


@media screen and (max-width: 960px){
	#About {
		background: white;
  		position: relative;
  		height: 400vh;
  		padding: 0;
  		margin: 0;
  		left: 0;
  		right: 0;
	}
	
	#About .persona{
		position: relative;
		width: 100%;
		height: 80vh;
		float: left;	
		left: 0;
		right: 0;
		padding: 0;
		margin: 0;
	}
	
	#About .persona img{
		width: 100%;
		height: 50vh;
	}
	
	#About hr{
		display: none;
	}
	
	#About .persona p{
		width: 90%;
		color: black;
		left: 10%;
		right: 10%;
		margin-left: 10%;
	}
	
	#About .persona h1{
		color: black;
		font-size: 2em;
	}
	
}