@import url(https://fonts.googleapis.com/css?family=Cabin|Muli|Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100);
@import url(https://fonts.googleapis.com/css?family=Lobster);


/*----------Cervezas compartido------------------*/

/* Boton para mostrar toda la pagina */
	.mostrar-todo  {
  	width: 15%;
  	height: 40px;
  	position: relative;
  	color: #000000;
  	margin-top: 99%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	border: 2px solid #000000;
	}
	
	.mostrar-todo:hover{
		background-color: #000000;
		color: #fff;
	}
	
	.mostrar-todo span{
		position: absolute;
		text-align: center;
		left: 10%;
		font-family: 'Lobster', cursive;
		font-size: 2em;
	}
	
		

	
	.cerveza {
		position: relative;
		float: left;
		overflow: hidden;
		
		-webkit-box-shadow: 0px 20px 24px -10px rgba(0,0,0,0.34);
		-moz-box-shadow: 0px 20px 24px -10px rgba(0,0,0,0.34);
		box-shadow: 0px 24px 24px -10px rgba(0,0,0,0.34);
	}

	.cerveza img{
		display: block;
		width: 100%;
		height: 100%;
	}
	
	
		.img-on-top{
		display: block;
		position: absolute;
		z-index: 20;
		background: rgba(50,50,50,0.8);
		overflow: hidden;
		transition: all 0.5s;
			}
			
	.img-expand{
		display: block;
		position: absolute;
		z-index: 100;
		margin-left: 50%;
		margin-top: 50%;
		width: 0%;
		height: 0%;
		border: solid 5px #FFFFFF;
		text-align: center;
		color: #fff;
		line-height: 15px;
		font-weight: 700;
		font-size: 15px;
		border-radius: 30px;
	}
	
	.img-on-top h1{
		color: white;
		font-size: 1.2em;
	}
	
	.img-on-top a{
		text-decoration: none;
	}
	
	.img-on-top a:hover{
		color: white;
	}
	
	.img-expand ul li{
		list-style-type: none;
		text-align: center;
		left: -25%;
	}

	.img-on-top{
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		opacity: 0;
	}
	
	.cerveza.hover .img-on-top{
		opacity: 1;
	}
	
	.cerveza.hover .img-expand{
		margin: 0 0 0 0;
		border-radius: 0;
		width: 100%;
		height: 100%;
		transition: 1s;
	}
/*--------------------------------------
			Pantalla grande
----------------------------------------*/
@media screen 
  and (min-width: 1000px) 
 { 
	
	#Beers.expandir{
		height: 300%;
	}
	.cerveza {
		width: 200px;
		height: 35vh;
		margin: 15vh 0 0 4%;
	}

	.cerveza img{
		left: 50%;
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	

	

}	

/*---------------------
	Pantalla de notebook
---------------------*/

@media screen   
	and (min-width: 700px) 
  	and (max-width: 1000px) {
	.cerveza {
		width: 30%;
		height: 40vh;
		margin: 15vh 0 0 2%;
	}
}
/*--------------------------------------
			Pantalla chica
----------------------------------------*/

@media screen and (max-width: 700px){
	#Beers {
		padding-top: 5vh;
		height: 250vh;
	}
	.cerveza {
		width: 90%;
		height: 50vh;
		margin: 0 5% 10vh 5%;
	}
	


	.mostrar-todo  {
  	width: 50%;
  	height: 40px;
  	position: absolute;
  	color: #000000;
  	left: 55%;
  	transform: translate(-50%, -40%);
  	border: 2px solid #000000;
	}
}




