@import url(https://fonts.googleapis.com/css?family=Cabin|Muli|Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);


/* grid */
.row {
	margin: 0 -10px;
	margin-bottom: 20px;
}

.row:last-child {
	margin-bottom: 0;
}


/*-------Defino el responsive------------*/
@media screen and (max-width: 960px){
	.frase h1{
		color: black;
		font-size: 2em;
	} 

	#About {
		height: 220vh;
	}
	
	#Footer ul {
	margin-left: 15%;
	}
	
	#Footer ul li {
	display: inline;
	}
	
	#Footer {
		height: 100vh;
	}
	
	.container-fluid img{
	width: 15%;
}
	
	#Beers {
		height: 450vh;
	}
	.effects .img{
  	position: relative;
  	float: left;
  	width: 80%;
  	height: 50vh;
  	overflow: hidden;
	}
	
	.effects {
  		padding-left: 15%;
  		margin-bottom: 5%;
	}
}



@media screen and (min-width: 960px) {
  /* make the columns responsive */
  

    [class*="col-1-3"]{
    float: left;
    width: 33.33%;
    height: 60vh;
  }
  
    [class*="col-1-4"]{
    float: left;
    width: 25%;
    height: 50vh;
  }
  
  	[class*="col-1-6"]{
  		float: left;
  		width: 16.66%;
  		height: 40vh;
  	}
  
  	#Footer ul {
  		margin-left: 25%;
  	}
  	
  	[class*="marca"] {
	position: relative;
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	color: white;
	width: 20%;
	}
	
	.effects .img{
  position: relative;
  float: left;
  width: 20%;
  height: 40vh;
  overflow: hidden;
	}
	
	.effects {
  padding-left: 0;
	}

	.effects .img:nth-child(n) {
  		margin-right: 5px;
	}
	.effects .img:first-child {
  		margin-left: -15px;
		}
	.effects .img:last-child {
 		 margin-right: 0;
		}
}




/*------------Clientes----------------*/

.clientes {
	position: absolute;
	width: 100%;
	height: 60vh;
}
.img-cliente {
	position: relative;
	border-radius: 10%;
	background: none;
	width: 60px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	display: inline-block;
	margin: 5%;
	border: 2px solid black;
}

#Contact input {
	display: block;
	margin: 0 30% 2% 30%;
	height: 5vh;
	width: 40%;
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	color: black;
	text-align: center;	 
}

#Contact input[type="textarea"]{
	height: 10vh;
}

#Contact input:focus {
	border: solid 2px orange;
}

#Contact button {
	display: block;
	background: none;
	border: none;
	height: 5vh;
	width: 40%;
	text-align: center;
	color: white;
	font-size: 1.5em;
	margin: 0 30% 0 30%;
	font-family: 'Roboto Slab', serif;
}






/*--------------------footer-------------------*/
#Footer h1 {
	text-align: center;
	color: black;
	margin: 0 5% 0 5%;
	font-size: 1em;
}

#suscribe{
	position: relative;
	width: 100%;
	height: 10vh;
	margin-top: 15%;
}
#suscribe input{
	display: block;
	float: left;
	text-align: center;
	width: 85%;
	height: 100%;
	border-style: 1px;
	opacity: 0.6;	
}
#suscribe button{
	float: left;
	display: block;
	background: none;
	border: none;
	width: 15%;
	height: 100%;
	background-color: #FF7519;
}

#Footer ul {
	list-style-type: none;
}

#Footer ul li a img{
	width: 50px;
	margin: 0 0 5% 0;
}

#footer-logo {
	width: 80%;
	margin: 0 0 0 10%;
}

/*----------------nav------------------*/
.nav {
	background-color: black;
}

.container-fluid.scroll {
	height: 5vh;
	opacity: 0.3;
}

.container-fluid img{
	position: fixed;
	width: 10%;
	background: none;
}
.container-fluid{
	height: 15vh;
	background-color: black;
	font-family: 'Roboto Slab', serif;
}

.container-fluid ul {
	margin: 2% 0 0 25%;
}







