@import url(https://fonts.googleapis.com/css?family=Cabin|Muli|Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
}


.section {
	box-sizing: border-box;
	top: 0 0 -15vh 0;
    width: 100%;
    position: relative;
    float: left;
}

.section:nth-of-type(1) {
	height:100vh;
	line-height: 100vh;
	background: url("https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/18/189/189863/vintage_logo_beer_inv-o.jpg?1411489338");
	background-size: cover;
}
.section:nth-of-type(2) {
	height: 20vh;
	line-height: 20vh;
	background-color: black;
}
.section:nth-of-type(3) {
	height: 100vh;
	background: #e74c3f;
}
.section:nth-of-type(4) {
	height:100vh;
	line-height: 100vh;
	background:#1abc9c;;
}
.section:nth-of-type(5) {
	height:100vh;
	line-height: 100vh;
	background: #e74c35;
}
.section:nth-of-type(6) {
	height:100vh;
	line-height: 100vh;
	background: #e10c35;
}
.section:nth-of-type(7) {
	height:100vh;
	background: black;
}
.section:nth-of-type(8) {
	height:20vh;
	line-height: 20vh;
	background: black;
}
.section i {
  width: 32px;
  height: 32px;
  position: absolute;
  color: #fff;
  bottom: 5%;
  left: 50%;
  margin-left: -16px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	color: white;
	text-align: center;	
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 15vh;
  line-height: 15vh;
  background-color: black;
  text-align: center;
}
.fixed-nav-bar img{
	left: 1%;
	top: 20%;
	height: 10vh;
	position: relative;
	float: left;
	display: block;
}
.fixed-nav-bar ul {
	width: 100%;
	margin: 0;
}
.fixed-nav-bar ul li {
	list-style-type: none;
	display: inline-block;
	width: 10%;
}
.fixed-nav-bar ul li:hover {
	background-color:gray;
	line-height: 10hv;	
}

.fixed-nav-bar ul li:active {
	background-color: white;
	color: black;
}
.fixed-nav-bar ul li a {
	text-decoration: none;
	font-family:'Roboto Slab', serif ;
	font-size: 1em;
	display: block;
	width: 100%;
	color: white;
	
}

.persona {
	position: relative;
	height: 60vh;
	width: 33%;
	float: left;
	display: block;
}

.persona h1{
	text-align: center;
	color: white;
	font-size: 1.5em;
}

.persona img {
	width: 50%;
	border-radius: 50%;
	margin: 0 0 0 10%;
	padding: 0 0 0 10%;
	
}

.persona p{
	color: white;
	font-family:'Roboto Slab', serif ;
	font-size: 1em;
	text-align: center;
	margin: 0 0 0 10%;
	padding: 0 0 0 10%;
	width: 50%;
}

.clientes {
	width: 100%;
	height: 60vh;
	background-color: #e15c35;
}
.img-cliente {
	position: relative;
	border-radius: 10%;
	background: none;
	width: 60px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	display: inline-block;
	margin: 5%;
	border: 2px solid black;
}