<div class="cerveza-descripcion" id="cerveza1">
	<h1>Heineken</h1>
	<h2>cerveza1</h2>
	<p>fafdsafasdfsda</p>
</div>
<div class="cerveza-descripcion" id="cerveza2">
	<h1>Antares</h1>
	<h2>Stout</h2>
	<p>aslflksajlkfjsdalk</p>
</div>
<div class="cerveza-descripcion" id="cerveza3">
	<h1>Quilmes</h1>
	<h2>Cristal</h2>
	<p>jflkasdjflasdjlfk</p>
</div>
<div class="cerveza-descripcion" id="cerveza4">
	<h1>Stella Artois</h1>
	<h2>Clasica</h2>
	<p>fksdljfklsajflksa</p>
</div>
<div class="cerveza-descripcion" id="cerveza5">
	<h1>Heineken</h1>
	<h2>cerveza1</h2>
	<p>fafdsafasdfsda</p>
</div>
<div class="cerveza-descripcion" id="cerveza6">
	<h1>Antares</h1>
	<h2>Stout</h2>
	<p>aslflksajlkfjsdalk</p>
</div>
<div class="cerveza-descripcion" id="cerveza7">
	<h1>Quilmes</h1>
	<h2>Cristal</h2>
	<p>jflkasdjflasdjlfk</p>
</div>
<div class="cerveza-descripcion" id="cerveza8">
	<h1>Stella Artois</h1>
	<h2>Clasica</h2>
	<p>fksdljfklsajflksa</p>
</div>
<div class="cerveza-descripcion" id="cerveza9">
	<h1>Stella Artois</h1>
	<h2>Clasica</h2>
	<p>fksdljfklsajflksa</p>
</div>