{% extends "cervezas/base.html" %}

{% block content %}
	<div class = "Galeria_imagenesss">
		<ul class="slider">
			<li>
				<input type="radio" id="slide1" name="slide" checked>
        		<label for="slide1"></label>
				<img src="http://www.foodcartusa.com/customtrucks/four/bogota%20beer%20company%20food%20truck%20foodcart%20usa%20food%20cart%20usa%202.JPG"/>
			</li>
			<li>
				<input type="radio" id="slide2" name="slide">
       			<label for="slide2"></label>
				<img src="http://www.foodcartusa.com/customtrucks/four/bogota%20beer%20company%20food%20truck%20foodcart%20usa%20food%20cart%20usa%201.JPG"/>
			</li>
			<li>
				<input type="radio" id="slide3" name="slide">
                <label for="slide3"></label>
				<img src="http://www.foodcartusa.com/customtrucks/four/bogota%20beer%20company%20food%20truck%20foodcart%20usa%20food%20cart%20usa%203.JPG"/>
			</li>
			<li>
			    <input type="radio" id="slide4" name="slide">
                <label for="slide4"></label>
				<img src="http://www.foodcartusa.com/customtrucks/four/bogota%20beer%20company%20food%20truck%20foodcart%20usa%20food%20cart%20usa%204.JPG"/>
			</li>
			
		</ul>
	</div>
	<div class = "Frase_cervecera"><span> Soy Ezequiel Parrilla y me la como.</span></div>
	<div class = "Cervezas">
		<img class="marca_foto" src="http://s3-media3.fl.yelpcdn.com/bphoto/G-8lrglzRaWPOpIc4KyFMQ/348s.jpg"/>
		<h1 style="color:white">Antares</h1>
		<table>
			<tr>
				{% for cerveza in cervezas %}
				<td>
					<div class = "tipo_cerveza">
						<img class="cerveza_foto" src= "{{ cerveza.foto }}"/>
						<h2>{{ cerveza.nombre }}</h2>
						<span> {{ cerveza.descripcion }}</span>
					</div>
				</td>
				{% endfor %}
			</tr>
		</table>
	</div>
{% endblock content %}