{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"  href="{% static "css/cervezas_list.css" %}" >

	<title>Parri - Beers</title>
	
</head>
<body>
	<div class = "nav">
		<img class="imagen_logo" src="http://i.imgur.com/Fl68w7C.png"/>
		<ul>
			<li><a href="/">About us</a></li>
			<li><a href="">Beers</a></li>
			<li><a href="">Services</a></li>
			<li><a href="">Gallery</a></li>
			<li><a href="">Contact us</a></li>
		</ul>
	</div>
	<div class = "Galeria_imagenesss">
		<ul class="slider">
			<li>
				<input type="radio" id="slide1" name="slide" checked>
        		<label for="slide1"></label>
				<img src="http://www.foodcartusa.com/customtrucks/four/bogota%20beer%20company%20food%20truck%20foodcart%20usa%20food%20cart%20usa%202.JPG"/>
			</li>
			<li>
				<input type="radio" id="slide2" name="slide">
       			<label for="slide2"></label>
				<img src="http://www.foodcartusa.com/customtrucks/four/bogota%20beer%20company%20food%20truck%20foodcart%20usa%20food%20cart%20usa%201.JPG"/>
			</li>
			<li>
				<input type="radio" id="slide3" name="slide">
                <label for="slide3"></label>
				<img src="http://www.foodcartusa.com/customtrucks/four/bogota%20beer%20company%20food%20truck%20foodcart%20usa%20food%20cart%20usa%203.JPG"/>
			</li>
			<li>
			    <input type="radio" id="slide4" name="slide">
                <label for="slide4"></label>
				<img src="http://www.foodcartusa.com/customtrucks/four/bogota%20beer%20company%20food%20truck%20foodcart%20usa%20food%20cart%20usa%204.JPG"/>
			</li>
			
		</ul>
	</div>
	<div class = "Frase_cervecera"><span> Soy Ezequiel Parrilla y me la como.</span></div>
	<div class = "Cervezas">
		<img class="marca_foto" src="http://s3-media3.fl.yelpcdn.com/bphoto/G-8lrglzRaWPOpIc4KyFMQ/348s.jpg"/>
		<h1 style="color:white">Antares</h1>
		<table>
			<tr>
				{% for cerveza in cervezas %}
				<td>
					<div class = "tipo_cerveza">
						<img class="cerveza_foto" src= "{{ cerveza.foto }}"/>
						<h2>{{ cerveza.nombre }}</h2>
						<span> {{ cerveza.descripcion }}</span>
					</div>
				</td>
				{% endfor %}
			</tr>
		</table>
	</div>
	<div class = "Contacto">
		<img style="width: 150px;height:150px" src="http://i.imgur.com/Fl68w7C.png"/>
		<p>Beer Craft truck<p>
		<a href="www.Facebook.com"><img style="width:30px;height:30px" src="https://www.kennesaw.edu/images/global/social/facebook_round.png"/></a>
		<a href="www.twitter.com"><img style="width:30px;height:30px" src="http://www.kompaworld.com/image/photopage/SocialMediaicons-round-TWITTER.png"/></a>
		<a href="www.instagram.com"><img style="width: 30px;height:30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Instagram_circle.svg/2000px-Instagram_circle.svg.png"/></a>
	</div>
</body>
</html>